<form (ngSubmit)="saveUser(); " ngNativeValidate>
    <h1 mat-dialog-title>Add a new user</h1>
    <div mat-dialog-content>

        <div class="mb-8">
            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>First name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" name="firstName" matInput
                    placeholder="Your first name" required>
                <mat-hint>Enter your first name</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" name="lastName" matInput
                    placeholder="Your last name" required>
                <mat-hint>Enter your last name</mat-hint>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="full-width mb-8">
            <mat-label>Email</mat-label>
            <input type="email" [disabled]="loading" [(ngModel)]="user.email" name="email" matInput
                placeholder="Your email" required>
            <mat-hint>Enter your email</mat-hint>
        </mat-form-field>

        <div class="full-width mb-8">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Date of birth</mat-label>
                <input matInput [disabled]="loading" [(ngModel)]="dateOfBirth" name="dateOfBirth"
                    [matDatepicker]="datepicker" placeholder="Your date of birth">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
                <mat-hint>Choose a date</mat-hint>
            </mat-form-field>
        </div>

        <div class="mb-8">
            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>Street</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" name="street" matInput placeholder="Your street"
                    required>
                <mat-hint>Enter your street name</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>House Number</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.houseNumber" name="houseNumber" matInput
                    placeholder="Your house number" required>
                <mat-hint>Enter your house number</mat-hint>
            </mat-form-field>
        </div>

        <div class="mb-8">
            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" name="zipCode" matInput
                    placeholder="Your zip code" type="number" min=0 required>
                <mat-hint>Enter your zip code</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" name="city" matInput placeholder="Your city"
                    required>
                <mat-hint>Enter your city</mat-hint>
            </mat-form-field>
        </div>

    </div>

    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="onNoClick()">Cancel</button>
        <button type="submit" *ngIf="!loading" mat-button cdkFocusInitial>Save</button>
        <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
    </div>
</form>