<h1 mat-dialog-title>Edit user</h1>
<div mat-dialog-content>

    <div class="mb-8">
        <mat-form-field appearance="outline" class="mr-16">
            <mat-label>First name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Your first name">
            <mat-hint>Change your first name</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Your last name">
            <mat-hint>Change your last name</mat-hint>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width mb-8">
        <mat-label>Email</mat-label>
        <input type="email" [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Your email">
        <mat-hint>Change your email</mat-hint>
    </mat-form-field>

    <div class="full-width mb-8">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Date of birth</mat-label>
            <input matInput [disabled]="loading" [(ngModel)]="dateOfBirth" [matDatepicker]="datepicker"
                placeholder="Your date of birth">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
            <mat-hint>Choose a date</mat-hint>
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions>
    <button [disabled]="loading" mat-button (click)="onNoClick()">Cancel</button>
    <button *ngIf="!loading" mat-button cdkFocusInitial (click)="editUserHeader()">Save</button>
    <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
</div>