<mat-sidenav-container class="mat-drawer-container" autosize>
  <mat-sidenav #sidenav class="sidenav" mode="side">
    <div class="logo-container">
      <img src="../assets/img/logo_simple_crm.png" alt="logo_simple_crm">
    </div>
    <ul class="menu-items">
      <li routerLink="/" (click)="closeSidenav()">
        <mat-icon>dashboard</mat-icon>Dashboard
      </li>
      <li routerLink="/user" (click)="closeSidenav()">
        <mat-icon>person_outline</mat-icon>User
      </li>
    </ul>
  </mat-sidenav>

  <div class="example-sidenav-content">

    <mat-toolbar color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">menu_open</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-sidenav-container>