.user-detail-header {
    height: 300px;
    background-color: rgb(228, 26, 144);
    display: flex;
    align-items: flex-end;
    color: white;
    overflow: hidden;

    img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        border-radius: 50%;
        z-index: 2;
        cursor: pointer;
        border: 3px solid rgb(255, 210, 236);
    }
}

.user-name-address {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    h2 {
        margin-bottom: 0;
    }
}

.circle {
    background-color: rgb(231, 123, 186);
    border-radius: 50%;
    position: absolute;
}

.circle-xxl {
    background-color: rgb(255, 210, 236) !important;
    height: 500px;
    width: 500px;
    top: -80px;
    left: -80px;
    opacity: 0.3;
    z-index: 1;
}

.circle-big {
    height: 100px;
    width: 100px;
    top: 40px;
    right: 40px;
}

.circle-medium {
    height: 60px;
    width: 60px;
    top: 30px;
    right: 160px;
}

.circle-small {
    height: 30px;
    width: 30px;
    top: 30px;
    right: 245px;
}

.mat-card-title {
    font-size: 20px;
}

.three-dots-btn {
    position: absolute;
    top: 4px;
    right: 4px;
}