<mat-card>
    <table matSort (matSortChange)="sortData($event)" class="full-width">
        <thead>
            <tr>
                <th mat-sort-header="firstName">First Name</th>
                <th mat-sort-header="lastName">Last Name</th>
                <th mat-sort-header="city">City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers" [routerLink]="['/user/' + user.userId]">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.city }}</td>
            </tr>
        </tbody>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-user-btn" mat-fab color="primary" matTooltip="Add user">
    <mat-icon>add</mat-icon>
</button>