:root {
    --padding-main: 16px;
    --offset-main: 56px;
    --color-hover: rgba(0, 0, 0, 0.05);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-container {
    height: 100vh;
}

.mr-16 {
    margin-right: 16px;
}

.mb-8 {
    margin-bottom: 8px;
}

.full-width {
    width: 100%;
}

@media(max-width: 600px) {
    .cdk-overlay-pane {
        max-width: 100% !important;
    }
}